<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>author</th>
        <th>genre</th>
        <th>duration</th>
        <th></th>
    </tr>
    {% for track in tracks %}
        <tr>
            <td>{{track.id}}</td>
            <td>{{track.name}}</td>
            <td>{{track.author}}</td>
            <td>{{track.genre}}</td>
            <td>{{track.duration}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'track:update' track.id %}">Edit</a>
            </td>
        </tr>
    {% endfor %}
</table>