{% extends "index.html" %}
{% load bootstrap %}


{% block content %}
    <form role="form" method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock content %}
