{% extends "base.html" %}
{% load static %}
{% load custom_stuff %}

{% block content %}

    <ul>
        {% for group in user.groups.all %}
        <li>{{group.name}}</li>
        {% endfor %}
    </ul>

    <h1>{% now "d m Y H:i:s" %}</h1>
    <h1>
        {{ settings.DATABASES.default.ENGINE }}
    </h1>
    <h1>
        <!--{{ my_lst.1 }}-->
        <!--{{ my_dict.name }}-->
        <!--{{ view|dir_filter }}-->
    </h1>
    <ul>
    {% for letter in "some text" %}

        <li {% if forloop.first %}style="color: red;"{% elif forloop.last %}style="color: green;"{% endif %}>{{ forloop.counter }} {{letter|default:"No Data"|upper}}</li>

    {% endfor %}

    {% with myvar=2 %}
        {{ myvar|multiply:5|multiply:10 }}
        {{ 10|multiply:2 }}
        <!--{{ myvar|default:"No Data" }}-->
        <!--{{ myvar|upper }}-->
        <!--test{{ myvar|pluralize:"sdsasdasdasd" }}-->
        <form>
            <input type="number" name="count">
        </form>
        {% last_5_tracks count %}

    {% endwith %}

    </ul>

    <div class="col-md-12">
        <!--{% include 'create_author.html' with form=create_author_form %}-->
        {% create_author_form %}
        <form method="get">
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control" type="search" name="query" value="{{query}}">
                </div>
                <div class="col-md-9">
                    <input type="submit" class="btn btn-primary" value="Search!">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}