{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .green {
        background-color: green !important;
    }
</style>
{% endblock css %}

{% block js %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>-->

    <script src="{% static 'js/js_template.js' %}"></script>
{% endblock js %}


{% block content %}
    <!--<div id="red-rectangle" class="red-rectangle-class" style="width: 300px; height: 300px; background: red;">-->

    <!--</div>-->

    <!--<button class="btn btn-primary">Click me1!</button>-->
    <!--<button class="btn btn-primary">Click me2!</button>-->
    <!--<button class="btn btn-primary">Click me3!</button>-->
    <!--<button class="btn btn-primary">Click me4!</button>-->
    <!--<button class="btn btn-primary">Click me5!</button>-->
    <!--<button class="btn btn-primary" id="add-button">Add more buttons!</button>-->
    <!--<div id="buttons">-->

    <!--</div>-->
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Duration</th>
            <th></th>
        </tr>
        {% for track in tracks %}
        <tr>
            <td>{{track.name}}</td>
            <td>{{track.author}}</td>
            <td>{{track.duration}}</td>
            <td>
                <button class="btn btn-danger del-btn" data-id="{{track.id}}">
                    Del
                </button>
                <button class="btn btn-primary edit-btn" data-id="{{track.id}}"> Edit </button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="modal" tabindex="-1" id="edit-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save-update">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}